@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #509175;
  --color-background-light: #f6f7f7;
  --color-background-dark: #161c19;
  --font-display: "Manrope", ui-sans-serif, system-ui, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
